.DS_STORE
*.swp
*.pdf
*.jpg

# Ignore hdf5 files so these don't interfere with updates
*.h5

# Various julia files to ignore
*.jld
*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl

# Don't include dev tests
dev/
test.jl
