.DS_STORE
*.swp
*.pdf
*.jpg
.ipynb_checkpoints

# Ignore hdf5 files so these don't interfere with updates
*.h5

# Various julia files to ignore
*.jld
*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl
Manifest.toml

# Don't include dev tests
dev/
scratch/
test.jl
