.DS_STORE
*.swp

# Other languages
*.c
*.h
*.m
*.py
.ipynb_checkpoints

# Ignore data and image files by default
*.h5
*.csv
*.mat
*.xls
*.xlsx
*.jpg
*.png
*.gif
*.pdf

# Various julia files to ignore
*.jld
*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl
Manifest.toml

# Don't include dev tests
dev/
scratch/
test.jl
